.form-container {
    display: flex;
    flex-flow: column wrap;
}

.slide-toggle {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}

.modal-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding-top: 2rem;
    button {
        margin: 0 4px;
    }
}
