table {
    width: 100%;
}

.searchAll {
    padding: .5rem 1.5rem;
}

.mat-header-cell {
    font-size: 1rem;
    font-weight: bold;
    padding: 8px 0 0;
}

.actions-row {
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem;
    justify-content: space-between;
}
